@import url(http://fonts.googleapis.com/css?family=Capriola);

html
{
	height:100%;
}

body
{  
	margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    filter: none;
	height: 100%;
}

#wrapperheader
{
	width:947px;
	margin:0 auto;
}

#wrapper{
	width:947px;
	margin:0 auto;
	position: relative;
min-height: 63%;
clear:both;
}

* html #wrapper
{
	height:100%;
}

#header
{
	width: 100%;
	float: left;
}


.logo{
	float:left;
	width: 168px;
	height: 104px;
	padding-top: 10px;
}

.threeimages
{
	width:300px;
	float:left;
	padding-left:131px;
	padding-top:25px;
}

.contact{
	float: right;
	width: 200px;
	margin-top: 11px;

}

.contact a{
	text-decoration: none;
	color:#68BEB6;
	margin-top:15px;
	display:block;
}

.contact p{
	color:#68BEB6;
	font-weight: bolder;
	margin-top:2px;
}

.log{
	float: left;
    color: #fff !important;
	margin-bottom: 15px !important;
	border:1px solid;
	border-radius: 6px;
	padding:4px 9px;
	background-color:#68BEB6; 
}



#search{
	background-image: url(../images/search_background.png);
	background-repeat: repeat;
	float:left;
	width:100%;
	height:105px;
	float: left;
	padding: 0;
	border-bottom:1px solid #666;
}
#sea{
	padding:50px 0 0 20px;
}

#sealog
{
	margin-top:28px;
	margin-left:50px;
}

#sealog input
{
	width:430px;
	height: 23px;
	border-radius: 6px;
	margin-top: 28px;
	color:#00a651;
	text-indent:12px;
	font-size: 16px;
	outline-color: #e3e3e3;
	float:left;
}

#sealog p
{
	width:42%;
	float:left;
	padding-top:2px !important;
	font-style:italic;
	text-align:right;
	padding-left:0px !important;
	font-size:12px;
	color:#f6f6f6;
}

#sealog a
{
	color:#f6f6f6;
	cursor:pointer;
	font-style:normal;
}

#sealog a:hover
{
	color:#666;
}

#sea input{
	width:100px;
	height: 26px;
	border-radius: 6px;
	margin-top: 28px;
	color:#00a651;
	padding-left: 12px;
	font-size: 16px;
	font-weight: bold;
	outline-color: #e3e3e3;
	float:left;
}

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: 'Capriola', sans-serif;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  zoom: 1;
  height: 50px;
  border-radius: 2px;
  width: 770px;
  float:left;
}
#cssmenu ul {
 
 
}
#cssmenu ul li, #cssmenu ul ul.innermenu li {
  float: left;
  list-style: none;
}
#cssmenu ul li a {
  display: inline-block;
  margin: 26px 0 0 13px;  
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  opacity: .9;
}
#cssmenu ul li:first-child a {
  margin: 26px 0 0 0px;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a, #cssmenu ul li ul.innermenu li a:hover,
#cssmenu ul li ul.innermenu li.active a {
  
  display: inline-block;
  margin-top: 0px;
  padding-top: 26px;
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
  opacity: 1;
}

#cssmenu ul li
{
	position:relative;
}

#li_changepass
{
	background:#68BEB6;	
	border:1px solid #666;
	border-top:none;
}

#cssmenu ul li ul.innermenu {
    display:none;
    position: absolute;
    left: 0;
    width: 80px;
	top:9px;
	margin-left:7px;
}

#cssmenu ul li ul.innermenu li
{
	
}

#cssmenu ul li:hover ul.innermenu {
    display:block;
	position:relative;
	z-index:3;
}

#cssmenu ul li ul.innermenu li:first-child  {
   margin: 5px 0 0 0px;
}

#cssmenu ul li ul.innermenu li:first-child  a{
   margin: 5px 0 0 8px;
   padding-bottom:10px;
}

#cssmenu ul li ul.innermenu li:last-child a
{
	padding-bottom:10px;
}

#cssmenu ul li ul.innermenu li:first-child a:hover
{
	padding-top:0px;
}

#cssmenu ul li ul.innermenu li a
{
	margin: 10px 0 0 8px;
	padding-top:0;
	width:145px;
}

#cssmenu ul li ul.innermenu li a:hover
{
	padding-top:10px;
}

.searchlist
{
	margin:0px;
	padding:0px;
}

.error
{
	width:200px;
	color:red;
	position:absolute;
	right:151px;
}

.errormain
{
	color:red;
	position:absolute;
	right:104px;
	top:192px;
}

.searchlist input
{
	width: 190px;
height: 20px;
border-radius: 6px;
margin-top: 21px;
color: #68BEB6;
text-indent: 8px;
line-height: 20px;
font-size: 13px;
outline-color: #e3e3e3;
float: left;
border: none;
}


#search h2{
	float:left;
	margin:0;
	color:#fff;
	padding-left: 49px;
	font-weight: lighter;
	margin-top: 31px;
	margin-right: 14px
}



#search p{
	color:#fff;
	padding-left: 167px;
	padding-top: 10px;
	margin: 0;
}

input.button{
height: 21px !important;
margin-top: 21px !important;
color: #68BEB6 !important;
background: #f6f6f6;
text-decoration: none;
margin-left: 10px;
width: 70px!important;
text-indent: 0px !important;
cursor:pointer !important;
border:0;
}

input.button:hover
{
	background:#fff;
}

#result{
	float:left;
	width:100%;

}

#result h2{
	
	color:#00a651;
}



.detail{
	float:left;
	width:600px;
	margin-top:15px;
}

.detail ul li{
list-style:none;
display:block;
margin-top:20px;
}

.detail ul hr
{
	position:relative;
	top:10px;
	clear:both;
}

.deatilimg{
	
	width:220px;
	float:left;	
}

.deatilimg img
{
 	 border: 2px solid #e3e3e3;
	 border-radius:4px;
	 padding:2px;
}

.propername
{
	width:330px;
	float:left;
}

.deatillist
{
	width:100%;
	float:left;
	padding-left:10px;	
}

.propername span
{
	color:#666;
	position:relative;
	top:34px;
}

.detail h2 a{
	color:#00a651;
	margin:0px;
	padding:0px;
}

.detail h2
{
	color:#666;
	margin:0px;
	padding:0px;
}

.detail h3{
	color:#68BEB6;
	margin:0px;
	padding:5px;
}

.detail p{
	margin:0px;
	padding:5px;
	padding-left:15px;
	color:#68BEB6;
	font-size:15px;	
	text-align:justify;
}

.detail span{
  
}

#content{
	width:100%;
	padding-bottom: 1em;
	float:left;
}

.slider{
	float: left;
	border: 11px solid #e3e3e3;
	width: 420px;
	height: 290px;
	margin-top: 40px;
	border-radius: 6px
}

.liverecords
{
	width:100%;
	float:left;
}

.list{
	float: right;
	width: 50%;
	margin-top: 20px;
}

.list h1{
	margin-left:21px;
	color: #00a651;
    font-size: 26px;
    margin-bottom:0;
}

.list h3{
	color:#88cb9c;
	margin-left:21px;
    font-size: medium;
    margin-top:5px;
	margin-bottom:0px;
}

.list ul li a{
	color:#68BEB6 ;
	text-decoration: none ;
	line-height: 25px;
	border-bottom:1px dotted #68BEB6;
}

.list ul li a:hover{
	color:#00a651;
	text-decoration: ;
	font-size: 14px;
	border-bottom:1px solid #00a651;
}


.l1{
	width:30%;
	float:left;	
	list-style-type: none;
}


.l2{
	
	float:left;	
	list-style-type: none;
	padding: 0;
	margin-left: 50px;
}

.l3{
	float:left;
	width:123px;
	list-style-type: none;
	padding: 0;
	letter-spacing:;

}

.sectors
{
	list-style:none;
	width:232px;
	float:left;
	padding:10px;
	background:#f9f9f9;
	border:1px solid #e7e7e7;
	border-radius:5px;
	display:none;
	position:absolute;
}

.sectors li
{
	display:inline-block;
	padding-left:15px;
}

.sectors li:nth-child(11)
{
	padding-left:19px;
}

.sectorshow
{
	cursor:pointer;
	width:140px !important;
}

.sectorshow:hover ul.sectors
{
	display:block;
}

.live{
	float:left;
    width:440px;
	clear:both;
	margin-top:35px;

}
.live span{
	color:#00a651;

}


.pause{
	color:#00a651 ;
	text-decoration: none ;
	background-color: transparent ;
	margin-left: 202px;
}

.live h3{
	color:#00a651;
	float:left;
	width:200px;
	padding:0;
	margin:0;
}

.live span{
	font-weight: lighter;
	font-size:13px ;
	padding-left: 8px;
	color:gray;
}


.section{
	float:left;
	margin-top: 11px;
	width:420px;
	height:290px;
	border:11px solid #e3e3e3;
	border-radius: 6px;
	overflow:hidden;
	margin-bottom:20px;
}

.recordshow ul, .recordshow ul li
{
	list-style:none;
	padding:0px 10px;
}

.recordshow ul
{
	margin:0px auto;
}

.recordshow ul li h2
{
	color:#68BEB6;
	margin-bottom:10px;
}

.recordshow a
{
	color:#68BEB6;
}

.recordshow a:hover
{
	text-decoration:none;
}

.post{
	float: left;
	width:383px;
	margin-left: 20px;
	border-bottom:1px solid #ccc;
}

.post h5{
	
	margin: 10px 0 4px 0;
	padding: 0 ;
}
.post p{
	color:#000 ;
	margin: 0;
	padding-top:0 ;

}

.post span{
	color:green;
}

.img{
	float: left;
    margin: 11px 27px 6px 10px;
    border: 2px solid #e3e3e3;
}

.sec-2{
	float:left;
	width:201px;
	margin-left: 98px;
    margin-bottom: 2px;
    margin-top: 42px;
}

.sec-2 h3{
    color:#00a651;
}

.eco{
	float:left;
	border:2px solid #e3e3e3;
	width:204px;
	height:161px;
	overflow:hidden;

}

.eco img{
	float:left;
}

.sec-3{
    float:left;
    margin-top: 42px;
    margin-left: 98px;
    height:135px;
}

.sec-3 h3{
	color:#00a651;
}



#con{
	float:left;
	clear: both;

}

#featured{
	float:right;
	width:300px;
	margin-top:14px;

}

#featured h2{
	color:#666;
}

.featured-bottom{
	overflow: auto;
	border:2px solid #ccc;
	background-color: #E6E6E6;
}

.featured-bottom h4{
	margin-top: 20px;
    margin-left: 15px;
	margin-bottom: 0;
	margin-right: 47px;
 
}

.featured-bottom img{
	float: left;
	margin-top: 8px;
    margin-left: 20px;

}

.featured-bottom span{
	float: left;
	padding-top: 8px;
    padding-left: 20px;
    font-size: larger;
}

.featured-bottom p{
  	float: left;
  	width: 50%;
  	padding-left: 22px;
  	text-align: left;
  	margin-top: 9px

}

#report{
	margin: 0 auto;
	width: 100%;
}

#report h2{
	padding-top: 57px;
	color: green;
	text-align:center;
}

#report h3{
	background-color: #68BEB6;
	color: #fff;
	height: 26px;
	padding-top: 7px;
	padding-left: 38px;
	font-weight: lighter;
	margin-top: 50px;
	margin-bottom: 36px;
}

#report h4{
   background-color: #68BEB6;
color: #fff;
height: 26px;
padding-top: 7px;
padding-left: 38px;
font-weight: lighter;
margin-top: 50px;
margin-bottom: 36px;
}

#report ul{
	list-style-type: none;
	margin-bottom: 25px;

}

#report p{
	margin-left: 41px;
}

#report span{
	font-size: small;
}

.span-1{
	clear:left;
}

.check li label{
	width: 109px !important;
}

.check li{
	width:135px;
	float: left;
	padding-left: 25px;
}

.check li:nth-child(2), #radio li:nth-child(2)
{
	clear: left;
}

#radio
{
	clear: both;
}

#radio li
{
	width: 120px;
	float: left;
	padding-left: 25px;
}

#radio li label
{
	width: 52px !important;
}

.price
{
	clear: left;
}

.box{
	border: 2px solid #68BEB6;
	padding-top: 61px;
	padding-bottom: 85px;
	margin: 0 !important;
	text-align: center
}


.list-1{
	width: 200px;
	margin: 0;
}

.list-1 li{
	margin-bottom: 12px;
}
.clearfix
{
	clear: both;
}

#alerts{
	width:80%;
	margin:0 auto;	
}

.alerts{
	background-color: #68BEB6;
	color: #fff;
	padding: 8px;
	font-weight: lighter;

}

#section{
	width: 750px;	
	margin: 20px 20px 20px 34px;
	float: left;

}

#section h4{
	padding-top: 14px;
	margin-left: 16px;
}

#section p{
    padding-top: 14px;
	margin-left: 16px;
	padding-bottom: 33px;
}

.total{
	margin: 0 !important;
	padding: 0 !important;
}

.totalalert
{
	color:#68BEB6;
}

.control{
	float: left;
	width: 100px;
	height: 751px;

}

.control h3{
	background-color: #68BEB6;
	margin-top: 53px;
	padding: 8px;
	text-align: center;
	color: #fff;
	font-weight: lighter;
}

.control ul {
	list-style-type: square;
	background-color: #68BEB6;
	height: 147px;
	 padding-left: 31px;
}

.control ul li{
    padding-top:20px;
     list-style-type: none;

}

.control ul li a{
    text-decoration: none;
    color: #fff;

}

.last{
	height: 158px !important;
}



.post-1{
	background-color:#e3e3e3;
	color: #505050; 
	padding: 2px;
	margin-bottom: 10px;
}



.post-2{
	background-color:#68BEB6;
	color: #505050; 
	padding: 2px;
	margin-bottom: 10px;
}
#footer{
	float:left;
	clear: both;
	width:100%;
	text-align: justify;
	background-color: #68BEB6;
	color:#fff;
	position: relative;
	border-top:1px solid #666;

}

.footerlist1
{
	width:30%;
	float:left;
	margin-top:10px;
}

.footerlist1 h2
{
	padding-left:10px;
	text-shadow:1px 1px #666;
	font-weight:normal;
}

.footerlist1 hr
{
	
}

.footerlist1 ul
{
	padding-left:22px;
}

.footerlist1 ul li a
{
	color:#fff;
	text-decoration:none;
	line-height:25px;
	font-size:13px;
}

.footerlist1 ul li a:hover
{
	border-bottom:1px solid #fff;
}

.footermargin
{
	margin-left:40px;
}

@-moz-document url-prefix() 
{
	#footer
	{
		height:auto;
	}
	#wrapper
	{
		min-height:61%;
	}
	#cssmenu ul li ul.innermenu li:first-child  {
   margin: 4px 0 0 0px;
}
}


.foot{
	text-align: center;
	clear:both;
	font-family: sans-serif;
	padding:30px 0 10px 0;
}



/*form*/
/* remove codrops styles and reset the whole thing */

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#form-wrapper{
	
	right: 0px;
	margin: 0px auto;	
	width: 500px;
	

}
/**** Styling the form elements **/

/**** general text styling ****/
#form-wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#form-wrapper label{
	display: inline-block;
	width: 174px;
	color:#e3e3e3;
}

#form-wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
	padding-left: 48px;
	margin-top: 0;
	position: relative;
	top: 27px;
	
}
/** For the moment only webkit supports the background-clip:text; */
#form-wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#form-wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#form-wrapper h2{
	
	color: #68BEB6;
	font-weight: bold;
	margin-bottom:0px;
}

#form-wrapper p{
	margin-bottom:15px;
}
#form-wrapper p:first-child{
	margin: 0px;
}
#form-wrapper label{
	color: rgb(64, 92, 96);
	
	padding: 27px 0 10px 0;
}



#form-wrapper ul li{
	list-style-type: none;
}

#form-wrapper ul{
	width: 500px;
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	padding: 18px;
	
}

#form-wrapper select, #form-wrapper input[type='file']{
	width:485px;
	padding: 8px 5px 8px 5px;
	outline: none;
	border: 1px solid rgb(178, 178, 178);
	-webkit-box-sizing: content-box;
	-moz-box-sizing : content-box;
	box-sizing : content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#form-wrapper textarea{
	width: 457px;
	height: 79px;
	outline: none;
}
.btn{
	width: 200px !important;
	cursor: pointer;
	background: #68BEB6;
	margin-left: 136px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;
	border: 1px solid rgb(28, 108, 122);
	margin-top: 20px !important;
	margin-bottom: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.lab{
	color: #68BEB6 !important;
}




/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

#form-wrapper input[type="checkbox"], #form-wrapper input[type="radio"]{
	width:auto;
	border:none;
	box-shadow: none;
}

/* all the input except submit and checkbox */
#form-wrapper input,textarea{
	width: 92%;
	margin-top: 4px;
	padding: 10px 18px 10px 18px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-box-sizing: content-box;
	-moz-box-sizing : content-box;
	box-sizing : content-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#form-wrapper input:not:active,
#form-wrapper input:not:focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	-moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#form-wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#form-wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#form-wrapper p.button input:active,
#form-wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
}
#form-wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#form-wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#form-wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #form-wrapper #register,
#tologin:target ~ #form-wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #form-wrapper #login,
#tologin:target ~ #form-wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

#height{
	margin:auto 0;

}
.imagewidth
{
	width: 100px;
	height: 78px;
	margin-right: 10px;
	margin-bottom:10px;
    border: 2px solid #e3e3e3;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
	float:left;
}

.imagewidthlist
{
	border:1px solid #fff;
	width: 100px;
	height: 78px;
}

.reportview
{
	width:45%;
	float:left;
	margin:0 15px;
}

.agencynew
{
	float:right;
	margin:5px;
}

.agencynew a
{
	text-decoration:none !important;
	color:#68BEB6 !important;
	font-size:16px;
	font-weight:bold;
	border:2px solid #68BEB6;
	border-radius:5px;
	padding:4px 10px;
}

.editbtn
{
	text-decoration:none !important;
	color:#68BEB6 !important;
	font-size:12px;
	font-weight:bold;
	border:2px solid #68BEB6 !important;
	border-radius:5px !important;
	padding:2px 5px !important;
	box-shadow:none !important;
	transition:.3s;
}

.editbtn:hover, .agencynew a:hover
{
	color:#fff !important;
	background:#68BEB6;
}

.compose h3
{
	color:#68BEB6;
	margin:0px;
	padding:0px;
	margin-top:15px;
}

.textareaheight
{
	height:350px !important;
}

.submtbtn
{
	width:auto !important;
	background:none;
	height:auto !important;
	cursor:pointer;
}

.btnfloat
{
	float:right;
	padding-top:10px;
}

.createnewbtn
{
	width:auto;
	float:right;	
}

.comingmessages
{
	width:auto;
	float:left;
	color:#68BEB6;
}

.comingmessages h3
{
	margin:0px;
	padding:0px;
}

.messagequantity
{
	width:80%;
	float:left;	
}

.messagequantity p
{
	margin:0px;
	padding:0px;
	text-align:center;
	color:#68BEB6;
}

.messagequantity p span
{
	color:#666;
}

.messageswidth
{
	width:100%;
	float:left;
	margin-top:25px;
	margin-bottom:10px;
}

.comingmessageview
{
	width:100%;
	float:left;
}

.subjectwidth
{
	width:auto;
	float:left;
}

.inboxwidth
{
	width:78%;
	text-align:center;
	float:left;
}

.readmsg p a
{
	color:#68BEB6;
	text-decoration:none;
	font-weight:400;
}

.unreadmessage p a
{
	font-weight:bold !important;
	text-decoration:none !important;
	color:#00a651 !important;
}

.mesgbtns
{
	width:auto;
	float:right;
	margin-top:14px;
}

.userchathr
{
	border:.1em solid #68BEB6;	
}

.hrpad
{
	clear:both;
	position:relative;
	top:10px;
}

.msgreadbtn
{
	float:right;
}

.msgreadbtna
{
	float:left;
}

.readmsgheight
{
	min-height:290px;
}

.userchatinbox
{
	min-height:320px;
}

.erorclas
{
	color:red;
	text-align:center;
}

.link a
{
	color:#68BEB6 !important;
}

.link a:hover
{
	text-decoration:none !important;
}

.image-row
{
	width:100%;
	float:left;
}

.image-row a img
{
	margin-top:10px !important;
	margin-left:15px;
	border: 2px solid #e3e3e3;
	 border-radius:4px;
	 padding:2px;
}

.team
{
	margin-left:47px;
}

.imgteam
{
	width:180px;
	float:left;
}

.image-row a:hover img
{
	border:2px solid #666;
}

.imgteam p
{
	text-align:center;
	color:#666;
	font-size:16px;
	width:156px;
	margin-top:-3px;
	margin-left:16px;
	border-radius:3px;
	padding:10px 0px;
	background:#ddd;
}

.gm-style-iw
{
	width:auto !important;
	height:auto !important;
}

.mapseting
{
	width:auto;
	float:left;
}

.mapseting img
{
	margin-bottom:0px;
}

.mapseting h2
{
	width:auto;
	margin:0 auto;
	margin-bottom:15px;
}

.mapseting h4
{
	width:auto;
}

.pagination
{
	float:right;
}

.pagination ul
{
	list-style:none;
}

.pagination ul li
{
	display:inline-block;
	padding-left:15px;
}

.pagination ul li a, .pagination ul li span
{
	background:#50b1a8;
	text-decoration:none;
	padding:5px 8px;
	color:#666;
}

.pagination ul li a:hover
{
	color:#fff;
}

.profileview
{
	width:50%;
	float:left;
	border:1px solid #e7e7e7;
	border-top:none;
	border-bottom:none;
}

.companylogo
{
	width:50%;
	float:left;
	margin-left:20px;
}

.profileview img
{
	margin-top:20px;
	margin-left:20px;
}

.profileview h4
{
	color:#50b1a8;
	padding-top:40px;
}

.profileview h5
{
	color:#666;
	margin-top:15px;
}

.profilecontact
{
	width:48%;
	float:left;
}

.companycontact
{
	margin-left:20px;
}

.companycontact h3
{
	color:#50b1a8;
	margin-bottom:6px;
}

.companycontact h5
{
	margin:0px 0 0 10px;
	color:#666;
}

.companycontact h5 span
{
	margin-left:35px;
}

.bahriaupdate h3
{
	color:#666;
}

.bahriaupdate p
{
	text-align:justify;
	margin-left:15px;
}

.bahriaupdate ul
{
	
	width:100% !important;
	border:none !important;
	-webkit-box-shadow:none !important;
	padding:0 0 0 40px !important;
	
}

.bahriaupdate ul li
{
	list-style:disc !important;
	padding:10px 0 0 15px !important;
}

.bahriaupdate ul li:nth-child(1)
{
	padding-top:0px !important;
}


