#wrapper{
	width:960px;
	margin:0 auto;
}

body
{  
	margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    filter: none;

}


.logo{
	float:left;
	padding-right: 101px;
	padding-left: 9px;
	padding-top: 10px;
}

.ban{
	float:left;
}

.contact{
	float: right;
	width:200px;
	height: 47px;
	margin-right: -141px;
    margin-top: 38px;
}

.contact a{
	text-decoration: none;
	color:#50b1a8;
}

.contact a:hover{
	color:#00a651;
	font-size: 16px;
}

.contact p{
	color:#50b1a8;
	font-weight: bolder;

}

#search{
	background-image: url(../images/search_background.png);
	background-repeat: repeat;
	float:left;
	width:100%;
	height:105px;
	float: left;
	margin-top: -12px;
	padding: 0;
	z-index: -1;
	position: relative;
}
#sea{
	padding: 30px 20px 6px 20px;
}

#sea input{
	width:620px;
	height: 26px;
	border-radius: 6px;
	margin-top: 28px;
	color:#00a651;
	padding-left: 12px;
	font-size: 16px;
	font-weight: bold;
	outline-color: #e3e3e3;
}



#search h2{
	float:left;
	margin:0;
	color:#fff;
	width:148px;
	padding-top:31px;
	padding-left: 197px;
	font-weight: lighter;
}



#search p{
	color:#fff;
	padding-left: 167px;
	padding-top: 10px;
	margin: 0;
}

#search a{
   font-weight: bold;
   color: #50b1a8;
   background-color: #fff;
   text-decoration: none;
   padding: 7px;
   margin-left: 12px;
   border-radius: 4px;

}

#result{
	float:left;

}

#result h2{
	padding-left: 212px;
    margin-top: 32px;
    margin-right: 819px;
	color:#00a651;
}



.detail{
	float:left;
	width:600px;
	margin-left: 169px;

}

.detail h2{
	margin-left: 143px;
	margin-top: -78px;

}

.detail p{
	margin-left: 143px;
	
}

.detail span{
  color:#00a651;
  margin-left: 143px;
  font-size: medium;

}

.detail ul li{
	list-style-type: none;
	padding-bottom: 58px;
}

.detail img{
	
	margin-right: 10px;
    border: 2px solid #e3e3e3;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}





#content{
	float:left;
	

}

.slider{
	float: left;
	border:11px solid #e3e3e3;
	width:420px;
	height:290px;
	margin-top:63px;
	margin-left:178px;
	border-radius: 6px;
}

.list{
	float:left;
	width:539px;
	margin-top:63px;
	margin-left: 41px;

}

.list h1{
	margin-left:21px;
	color: #00a651;
    font-size: 26px;
    margin-bottom:0;
}

.list h3{
	color:#88cb9c;
	margin-left:21px;
    font-size: medium;
    margin-top:5px;
}

.list ul li a{
	color:#50b1a8 ;
	text-decoration: none ;
	line-height: 25px;

}

.list ul li a:hover{
	color:#00a651;
	text-decoration: ;
	font-size: 14px;
	letter-spacing: 1px;
}


.l1{
	float:left;
	width:160px;
	list-style-type: none;
	padding: 0 0 0 23px;
	letter-spacing:;

}


.l2{
	float:left;
	width: 160px;;
	list-style-type: none;
	padding: 0;
	letter-spacing: ;
	margin-left: 23px;
}

.l3{
	float:left;
	width:160px;
	list-style-type: none;
	padding: 0;
	letter-spacing:;

}

#content-2{
	float:left;
	width:420px;
	height:135px;
	margin-left: 178px;
	clear: both;
}

.live{
	float:left;
    margin:58px 0 10px 0;
    width:442px;

}
.live span{
	color:#00a651;

}


.pause{
	color:#00a651 ;
	text-decoration: none ;
	background-color: transparent ;
	margin-left: 202px;
}

.live h3{
	color:#00a651;
	float:left;
	width:200px;
	padding:0;
	margin:0;
}

.live span{
	font-weight: lighter;
	font-size:13px ;
	padding-left: 8px;
	color:gray;
}


.section{
	float:left;
	margin-top: 11px;
	width:420px;
	height:135px;
	border:11px solid #e3e3e3;
	overflow: auto;
	border-radius: 6px;
}
.post{
	float: left;
	width:383px;
	padding-left: 20px;
}

.post h5{
	
	margin: 10px 0 4px 0;
	padding: 0 ;
}
.post p{
	color:#000 ;
	margin: 0;
	padding-top:0 ;

}

.post span{
	color:green;
}

.img{
	float: left;
    margin: 11px 27px 6px 10px;
    border: 2px solid #e3e3e3;
}

.sec-2{
	float:left;
	width:201px;
	height:135px;
	margin-left: 98px;
    margin-bottom: 2px;
    margin-top: 42px;
}

.sec-2 h3{
    color:#00a651;
}

.eco{
	float:left;
	border:2px solid #e3e3e3;
	width:201px;
	height:157px;
	margin-left: ;

}

.eco img{
	float:left;
}

.sec-3{
    float:left;
    margin-top: 42px;
    margin-left: 98px;
    height:135px;
}

.sec-3 h3{
	color:#00a651;
}



#con{
	float:left;
	clear: both;

}

#featured{
	float:left;
	width:300px;
	color: ;
	margin-left: 145px;
	text-align: right;
	

}

#featured h2{
	color:#00a651;
}

.featured-bottom{
	
	overflow: auto;
	border:2px solid #ccc;
	background-color: #E6E6E6;
}

.featured-bottom h4{
	margin-top: 20px;
    margin-left: 15px;
	margin-bottom: 0;
	margin-right: 47px;
 
}

.featured-bottom img{
	float: left;
	margin-top: 8px;
    margin-left: 20px;

}

.featured-bottom span{
	float: left;
	padding-top: 8px;
    padding-left: 20px;
    font-size: larger;
}

.featured-bottom p{
  float: left;
  width: 113px;
  padding-left: 22px;
  text-align: left;
  margin-top: 9px

}

#footer{
	float:left;
	clear: both;
	width:100%;
	margin-top:100px;
	text-align: justify;
	background-color: #50b1a8;
	color:#fff;
	height:40px;


}

.foot{
	text-align: center;
	font-family: sans-serif;
}


