#wrapper{
	width:960px;
	margin:0 auto;
}

body
{
	margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    filter: none;

}


.logo{
	float:left;
	padding-right: 101px;
	padding-left: 9px;
	padding-top: 10px;
}

.ban{
	float:left;
}

.contact{
	float: left;
	width:200px;
	height: 47px;
	
	
	padding-left: 111px;
    margin-top: 28px;
}

.contact a{
	text-decoration: none;
	color:#2491b3;
}

.contact p{
	color:#2491b3;
	font-weight: bolder;

}

#search{
	background:;
	float:left;
	background-color:#7a896c ;
	width:100%;
	height:105px;
	float: left;
	margin-top: -12px;
	padding: 0;
	z-index: -1;
	position: relative;
}
#sea{
	padding: 30px 20px 6px 20px;
}

#sea input{
	width:620px;
	height: 26px;
	border-radius: 6px;
}

#search h2{
	float:left;
	margin:0;
	color:#fff;
	width:148px;
	padding-top:6px;
	padding-left: 197px;
	font-weight: lighter;
}

#search span{
	color:#714141;
	font-weight: lighter;
	font-size:22px;

}


#search p{
	color:#fff;
	padding-left: 167px;
	padding-top: 10px;
	margin: 0;
}

#search a{
	color:#fff;
	background-color: #714141;
	text-decoration: none;
	padding:7px;
	margin-left: 12px;
	border-radius:4px;

}

#result{
	float:left;

}

#result h2{
	padding-left: 211px;
	margin-top: 45px;
	margin-right: 843px;
	color:#714141;
}



.detail{
	float:left;
	width:600px;
	margin-left: 169px;

}

.detail h2{
	margin-left: 143px;
	margin-top: -78px;

}

.detail p{
	margin-left: 143px;
	
}

.detail span{
  color:#714141 ;
  margin-left: 143px;

}

.detail ul li{
	list-style-type: none;
	padding-bottom: 58px;
}

.detail img{
	margin-right: 10px;
}





#content{
	float:left;
	

}

.slider{
	background-image: url(../images/front18.jpg);
	float: left;
	border:11px solid #e3e3e3;
	width:420px;
	height:290px;
	margin-top:63px;
	margin-left:178px;
}

.list{
	float:left;
	height:290px;
	width:475px;
	border:;
	overflow: ;
	margin-top:63px;
	margin-left: 41px;

}

.list h1{
	margin-left:27px;
	color: #714141;
    font-size: 26px;
    margin-bottom:0;
}

.list h3{
	color:#7a896c;
	margin-left: 27px;
    font-size: medium;
    margin-top:5px;
}

.list ul li a{
	color:#2491b3 !important;
	text-decoration: none !important;
	background-color: #fff !important;
	line-height: 25px;

}


.l1{
	float:left;
	width:142px;
	list-style-type: none;
	padding: 0 0 0 23px;
	letter-spacing: 1px;

}


.l2{
	float:left;
	width:103px;
	list-style-type: none;
	padding: 0 0 0 37px;
	letter-spacing: 1px;
}

.l3{
	float:left;
	width:106px;
	list-style-type: none;
	padding: 0 0 0 36px;
	letter-spacing: 1px

}

#content-2{
	float:left;
	width:420px;
	height:135px;
	margin-left: 178px;
	clear: both;
}

.live{
	float:left;
    margin:53px 0 10px 0;
    width:420px;

}
.live span{
	color:#714141;
}


.pause{
	color:#2491b3 !important;
	text-decoration: none !important;
	background-color: transparent !important;
	padding-left:178px !important;
}

.live h3{
	color:#714141;
	float:left;
	width:200px;
	padding:0;
	margin:0;
}

.live span{
	font-weight: lighter;
	font-size:13px !important;
}


.section{
	float:left;
	margin-top: 22px;
	width:420px;
	height:135px;
	border:11px solid #e3e3e3;
	overflow: auto;
}
.post{
	float: left;
	width:305px;
	padding-left: 20px;
}

.post h5{
	
	margin:20px 0 2px 0 !important;
	padding: 0 !important;
}
.post p{
	
	color:#000 !important;
	padding-left: 0 !important;
	padding-top:3px !important;

}

.img{
	float: left;
    margin:20px 27px 60px 10px;
}

.sec-2{
	float:left;
	width:201px;
	height:135px;
	margin-left: 98px;
    margin-bottom: 2px;
    margin-top: 42px;
}

.sec-2 h3{
    color:#714141;
}

.eco{
	float:left;
	border:2px solid #e3e3e3;
	width:201px;
	height:157px;
	margin-left: ;

}

.eco img{
	float:left;
}
.more{
	color:#2491b3 !important;
	text-decoration: none !important;
	background-color: transparent !important;
	padding-left:178px !important;

}

.sec-3{
    float:left;
    margin-top: 42px;
    margin-left: 98px;
    height:135px;
}

.sec-3 h3{
	color:#714141;
}

.news{

	border:2px solid #e3e3e3;
	height:157px;
	width:201px;
	clear:both;

}



#con{
	float:left;
	clear: both;

}

#featured{
	float:left;
	width:300px;
	color: #714141;
	margin-left: 145px;
	text-align: right;
	letter-spacing: 1px;

}

.featured-bottom{
	
	overflow: auto;
	border:2px solid #ccc;
	background-color: #E6E6E6;
}

.featured-bottom h4{
	margin-top: 20px;
    margin-right: 41px;
    margin-bottom: 0;
 
}

.featured-bottom img{
	float: left;
	margin-top: 8px;
    margin-left: 20px;

}

.featured-bottom span{
	float: left;
	padding-top: 8px;
    padding-left: 20px;
    font-size: larger;
}

.featured-bottom p{
  float: left;
  width: 113px;
  padding-left: 22px;
  text-align: left;
  margin-top: 9px

}

#footer{
	float:left;
	clear: both;

	width:100%;
	margin-top:100px;
	text-align: justify;
	background-color: #7a896c;
	color:#fff;
	height:40px;


}

.foot{
	text-align: center;
}

